{include file="index/header" /}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="d-block img-fluid img-thumbnail" src="__STATIC__/image/头像_1.JPEG"> </div>
                                    <div class="col-md-6">
                                        <div class="row"><br><br></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-primary text-danger" href="#">修改登陆密码</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><br><br></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-secondary" href="{:url('/?s=index/index/changeinfo')}">修改个人信息</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">{$list['姓名']} {$list['学号']}</div>
                            <div class="card-body">
                                <h6>方向: {$list['方向']}</h6>
                                <h6>导师: {$list['导师']}</h6>
                                <h6>入学: {$list['年级（入学）']}年</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">方向: {$list['方向']}</li>
                                <li class="list-group-item">籍贯: {$list['籍贯']}<br></li>
                                <li class="list-group-item">手机: {$list['手机']}</li>
                                <li class="list-group-item">邮箱: {$list['邮箱']}</li>
                                <li class="list-group-item">省份: {$list['省份']}</li>
                                <li class="list-group-item">城市: {$list['城市']}</li>
                                <li class="list-group-item">地址: {$list['通讯地址']}</li>
                                <li class="list-group-item">行业: {$list['行业']}</li>
                                <li class="list-group-item">单位: {$list['现工作单位']}</li>
                                <li class="list-group-item">职务: {$list['职务']}</li>
                            </ul>
                            <!--div class="card-body">
                                <a href="#" class="card-link">修改个人信息</a>
                                <a href="#" class="card-link">修改头像</a>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}
