{include file="index/header" /}

<div class="py-5 bg-gradient filter-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
        <div class="card text-white p-5 bg-primary">
          <div class="card-body">
            <h1 class="mb-4">登陆
              <br> </h1>
            <form action="{:url('/?s=index/index/login')}" method="post">
              <div class="form-group">
                <label>学号
                  <br> </label>
                <input type="学号" class="form-control" name="id" placeholder="学号"> </div>
              <div class="form-group">
                <label>密码
                  <br> </label>
                <input type="password" id="pwd" class="form-control" name="password" placeholder="初始密码为八位生日"> </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <img src="{:captcha_src()}" class="img-fluid" alt="captcha" onclick="this.src='{:captcha_src()}?x='+Math.random();"/>
                </div>
                <div class="col-md-6">
                <input type="text" class="form-control" name="captcha" placeholder="请输入验证码">
                </div>
              </div>
                <input type="checkbox"  name="remember" value="1">记住我
                <button type="submit" class="btn btn-secondary float-right">登陆
                  <br> </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      {include file="index/footer" /}
