<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>success</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/weui.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/weui2.css" type="text/css">

    <script src="__STATIC__/css/zepto.min.js"></script>
    <script src="__STATIC__/css/iscroll.js"></script>
</head>
<body ontouchstart style="background-color: #f8f8f8;">
<div class="py-3">
    <div class="container">
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">操作成功</h2>
        <p class="weui_msg_desc">您已成功修改个人信息</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="{:url('/')}" class="weui_btn weui_btn_primary">查看个人信息</a>
            <a href="{:url('/?s=index/index/changeinfowe')}" class="weui_btn weui_btn_default">返回重新填写</a>
        </p>
    </div>
</div>
    </div>
</div>
</body>
</html>