{include file="index/header" /}
<div class="py-5">
    <div class="container w-75">
        <div class="row mb-5">
            <div class="col-md-7">
                <h2 class="text-primary">朱和平少将做客学院</h2>
                <p class=""> 4月7日，空军指挥学院原副院长、第十一届、十二届全国政协委员、中国预警与电子战专家，空军少将朱和平应邀做客北京大学软件与微电子学院，为学院师生作了题为“信仰的力量”的专题讲座。学院全体在校生、部分校友及教师参加并聆听了讲座。 朱和平一行首先在会议室参观了学院介绍展板，软件与微电子学院院长张兴、党委书记陈向群、党委副书记姜淼等学院领导陪同参观。张兴为朱和平一行介绍了学院概况、组织结构、学科建设等基本情况。朱和平对于学院人才培养模式及发展情况进行了细致了解，并就学院培养理念进行了深入探讨。</p>
            </div>
            <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="/thinkphp/public/static/image/新闻1.jpg"> </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="/thinkphp/public/static/image/新闻2.JPG"> </div>
            <div class="col-md-7">
                <h2 class="text-primary pt-3">朱和平少将做客学院</h2>
                <p class=""> 4月7日，空军指挥学院原副院长、第十一届、十二届全国政协委员、中国预警与电子战专家，空军少将朱和平应邀做客北京大学软件与微电子学院，为学院师生作了题为“信仰的力量”的专题讲座。学院全体在校生、部分校友及教师参加并聆听了讲座。 朱和平一行首先在会议室参观了学院介绍展板，软件与微电子学院院长张兴、党委书记陈向群、党委副书记姜淼等学院领导陪同参观。张兴为朱和平一行介绍了学院概况、组织结构、学科建设等基本情况。朱和平对于学院人才培养模式及发展情况进行了细致了解，并就学院培养理念进行了深入探讨。</p>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}