<div class="text-white bg-primary">
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-3">
                <h4 class="mb-4">软微校友会</h4>
                <p class="text-white">服务学院一万余名毕业生</p>
            </div>
            <div class="p-4 col-md-3">
                <h3 class="mb-4">网站地图</h3>
                <ul class="list-unstyled">
                    <a href="#" class="text-white">主页</a>
                    <br>
                    <a href="#" class="text-white">关于我们</a>
                    <br>
                    <a href="#" class="text-white">我们的服务</a>
                    <br>
                    <a href="#" class="text-white">故事</a>
                </ul>
            </div>
            <div class="p-4 col-md-3">
                <h3 class="mb-4">联系我们</h3>
                <p>
                    <a href="tel:+246 - 542 550 5462" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+86 - 010 6127 0000</a>
                </p>
                <p>
                    <a href="mailto:info@pingendo.com" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>123@ss.pku.cn</a>
                </p>
                <p>
                    <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
                        <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>北京，金苑路24号</a>
                </p>
            </div>
            <div class="p-4 col-md-3">
                <h3 class="mb-4 text-light">提交个人信息</h3>
                <form>
                    <fieldset class="form-group text-white">
                        <label for="exampleInputEmail1">提交你的邮箱</label>
                        <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
                    <button type="submit" class="btn btn-outline-secondary">提交</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-white">© Copyright 2018 北京大学软件与微电子学院.</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>