{include file="index/header" /}
<div class="py-5">
    <div class="container w-75">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="/thinkphp/public/static/image/活动_1.png"> </div>
            <div class="col-md-7">
                <h2 class="text-primary pt-3">火币集团COO朱嘉伟做客北京大学软件与微电子学院区块链课程</h2>
                <p class=""> 北京大学软件与微电子学院本学期首次为工程管理硕士开设了区块链课程。4月3日下午2点，经区块链课程主讲教师孙惠平老师邀请，火币集团COO朱嘉伟做客学院区块链课程，为同学们带来题目为“区块链应用和本质思考”的报告。 在报告环节中，朱嘉伟分享了自己对于区块链的认识，包括区块链底层技术、区块</p>
                <a class="btn btn-primary" href="#">一键点击参加此活动</a>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container w-75">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="/thinkphp/public/static/image/活动_2.jpeg"> </div>
            <div class="col-md-7">
                <h2 class="text-primary pt-3">北京大学软件与微电子学院2017创新创业年度论坛</h2>
                <p class=""> 2017年12月3日，北京大学软件与微电子学院2017创新创业年度论坛在北京大学英杰交流中心召开，“新时代、新征程、新梦想”为本次论坛主题。北京大学校友工作办公室主任李文胜、北京大学团委书记陈永利、北京大学软件与微电子学院院长张兴、党委书记陈向群、党委副书记姜淼、校友会秘书长田渊出席了本次论坛，北京大学软件与微电子学院毕业校友、在校生及其他院系同学共赴此次盛会，总人数近500人，工程管理硕士教育中心主任黄嵩担任论坛主持</p>
                <a class="btn btn-primary"
                   href="#">一键点击参加此活动</a>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}